@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Merienda&family=Nothing+You+Could+Do&family=Poiret+One&family=Tangerine&display=swap');

#Cabeçalho {
    background: #C971FF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
#Bebidas {
    font-family: Tangerine;
    font-size: 150px;
    margin: 50px 0px -30px 0px;
}