#Bebidas {
    font-family: Tangerine;
    font-size: 100px;
    margin: 50px 0px;
}

#owl-demo .item{
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }