/* ESTILIZAÇÃO BASE DA PÁGINA TECHNOLOGY INNOVATION */
html {
    font-family: Roboto;
    color: black;
}
h1 {
    margin-bottom: 25px;
}
.conteudo {
    margin: 0px 100px;
}
.divisão {
    margin: 100px -50px;
}
.link-branco {
    color: white;
}
.link-preto {
    color: black;
}
.text-sombra {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.centralizar {
    text-align: center;
}
.esquerda {
    text-align: left;
}
.direita {
    text-align: right;
}
/* CABEÇALHO MOBILE */
#Cabeçalho {
    background: #38afff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}
.Cab-TINF {
    width: 100px;
    margin: 20px 0px;
}
.Cab-Título {
    margin: 25px 0px;
}
.Cab-Título-turma {
    font-size:large;
}
.Cab-IF {
    width: 125px;
    margin: 20px 0px;
}
/* CABEÇALHO DESKTOP */
@media (min-width: 768px) {
    .Cab-TINF {
        width: 125px;
        margin: 0px 25px 0px 0px;
    }
    .Cab-Título {
        text-align: left;
    }
    .Cab-Título-turma {
        font-size: x-large;
    }
    .Cab-IF {
        width: 125px;
        margin: 0px 0px 0px 25px;
    }
}
/* RODAPÉ */
#Rodapé {
    font-size: small;
    background-color: #C4C4C4;
    padding-top: 2%;
    padding: 10px;
    margin-top: 50px;
}
.Rod-Logo-icon {
    width: 100px;
}
#VoltarTopo {
    margin: 50px 0px 25px 0px;
}





/* MEMBROS DO GRUPO */
#Grupo {
    margin: 20px 0px;
}
.Grup-membro {
    margin: 30px 0px;
}
.Grup-foto {
    margin: 10px 0px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
@media (min-width: 512px) {
    #Grupo {
        margin: 20px 0px;
    }
    .Grup-membro {
        margin: 30px 50px;
    }
    .Grup-foto {
        margin: 10px;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}
/* EQUIPES */
h2 {
    margin: 40px 0px 10px 0px;
}
/* CONSIDERAÇÕES FINAIS MOBILE */
.Con-todos {
    margin: 20px 0px;
}
.Con-membro {
    background-color: rgb(201, 201, 201);
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0px;
}
.Con-profile {
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
}
.Con-text {
    margin: 0px 0px 0px 50px;
}
/* CONSIDERAÇÕES FINAIS DESKTOP */
@media (min-width: 768px) {
    .Con-todos {
        margin: 20px 0px;
    }
    .Con-membro {
        background-color: rgb(201, 201, 201);
        border-radius: 25px;
        padding: 10px;
        margin: 10px 0px;
    }
    .Con-profile {
        margin: 5px;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        object-fit: cover;
    }
    .Con-text {
        margin: 0px 0px 0px 25px;
    }
}